<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IMAGE UPLOADER</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="py-5 text-center bg-secondary text-white">
        <h1 class="mb-3">Upload image</h1>
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form }}
          <input type="submit" class="btn btn-danger mt-3" value="Upload">
        </form>
      </div>
      <div class="row">
        {% for x in img %}
          <div class="col-sm-4">
            <div class="card m-2">
              <img src="{{x.photo.url}}" alt="" class="card-img-top" height="200px">
            </div class="card-footer">
            <small class="text-muted">{{x.date}}</small>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- jQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
